.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #777;
  overflow: hidden;
  font-size: 1.6rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'heading heading'
    'name email'
    'password password2'
    'gender status'
    'bio bio'
    'policy policy'
    'register register';
}

.heading {
  width: 100%;
  background-color: #353a40;
  padding-left: 2rem;
  height: 5rem;
  color: #fff;
  display: flex;
  align-items: center;
  grid-area: heading;
}
.formInput.name {
  grid-area: name;
}

.formInput.email {
  grid-area: email;
}
.formInput.password {
  grid-area: password;
}

.formInput.password2 {
  grid-area: password2;
}

.formInput.gender {
  grid-area: gender;
}

.formInput.status {
  grid-area: status;
}

.formInput.bio {
  grid-area: bio;
}

.formInput.policy {
  grid-area: policy;
}

span {
  font-size: 1.4rem;
  color: red;
  padding: 0.4rem 0;
  display: none;
}
input:invalid[focused='true']:not([type='checkbox']) {
  border: 1px solid red;
}
input:invalid[focused='true']:not([type='checkbox']) ~ span {
  display: block;
}

@media screen and (max-width: 50rem) {
  form {
    grid-template-columns: 1fr;
    grid-template-areas:
      'heading'
      'name'
      'email'
      'password'
      'password2'
      'gender'
      'status'
      'bio'
      'policy'
      'register';
  }
}
