@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-family: 'Cabin', sans-serif;
  height: 100vh;
}
